.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}

.offcanvas-top{
    height: fit-content;
}
.btn-item{
    background-color: rgb(90, 88, 88);
    border-color:rgb(90, 88, 88) ;
    text-align: left;
}
.btn-item:hover{
    background-color: rgb(70, 69, 69);
    border-color:rgb(70, 69, 69) ;
}
.text-secondary{
    font-size: 30px;
}

.container{
    width: 70%;
}